<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="SSL" value="true"/>
    <add key="FromEmail" value="hhansw49@gmail.com"/>
    <add key="Username" value="hhansw49@gmail.com"/>
    <add key="Password" value="M4k4r0vPM"/>
  </appSettings>
</configuration>