<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="SSL" value="true"/>
    <add key="FromEmail" value=""/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
  </appSettings>
</configuration>
